
.bg-pink{
  background-color:red
  color:white;
}
.my-search {
    width: 300px; /* Genişlik ayarlama */
}

.sortable{
    cursor:-webkit-grab;
    cursor:grab;
}
.dataTables_filter{
    float:left !important;
}
.custom-switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 30px;
}

/* Gizlenmiş checkbox */
.custom-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* Slider */
.custom-switch-slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: red;
    transition: 0.4s;
    border-radius: 30px;
}

/* Slider'ın içindeki yuvarlak düğme */
.custom-switch-slider:before {
    position: absolute;
    content: "";
    height: 24px;
    width: 24px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: 0.4s;
    border-radius: 50%;
}

input:checked + .custom-switch-slider {
    background-color: green;
}

input:checked + .custom-switch-slider:before {
    transform: translateX(30px);
}
    /* Ana Liste Ayarları */
    #productList {
        padding: 0;
        margin: 0;
        list-style: none;
        background-color: #fff;
        margin: 0 auto; /* Ortalanmış liste */
        border-radius: 8px; /* Köşe yuvarlama */
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Hafif gölgelendirme */
        overflow: hidden; /* Taşma engellenmesi */
    }

    .product-item {
        display: flex;
        padding: 15px;
        border-bottom: 1px solid #f0f0f0;
        align-items: center;
        transition: all 0.3s ease;
    }

    .product-item:last-child {
        border-bottom: none; /* Son üründe alt çizgi olmasın */
    }

    .product-item:hover {
        background-color: #f8f8f8; /* Hoverda arka plan değişimi */
        box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Hover efektinde gölge */
    }


    /* Ürün Bilgisi */
    .product-info h5 {
        margin: 0;
        font-size: 16px;
        font-weight: bold;
        color: #333;
    }

    .product-info p {
        margin: 5px 0 0 0;
        font-size: 14px;
        color: #777;
    }

    /* View All Results Butonu */
    .view-all {
        text-align: center;
        padding: 20px 0;
        background-color: #f8f8f8;
        margin-left: 30px;
        border-top: 1px solid #f0f0f0;
    }

    .view-all a {
        font-size: 16px;
        font-weight: bold;
        color: #007BFF;
        text-decoration: none;
        transition: color 0.3s ease;
    }

    .view-all a:hover {
        color: #0056b3;
    }




     .border{
         border: 3px solid #670098; /* Sınırın kalınlığı, türü ve rengi */
         background-color:#670098;
     }

      * {
  font-family: "Noto Sans", sans-serif;
  box-sizing: border-box;
}

.Nav {
  background: linear-gradient(to right, #4CAF50,rgba(74,175,80,0.5));
  color: #fff;
  text-align: center;
  padding: 5px;
  border-radius: 5px;
}

.Nav h2 {
  font-size: 1rem;
}

.nav-whatsapp {
  position: fixed;
  margin-bottom:200px;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  padding: 12px 0;
}
.nav-whatsapp.active .wrapperWA {
  opacity: 1;
  visibility: visible;
  width: 400px;
  height: auto;
  z-index: 6;
}
.nav-whatsapp.active .whatsapp-float {
  opacity: 0;
  visibility: hidden;
}
.wrapperWA {
  position: fixed;
  right: 20px;
  bottom: 20px;
  width: 60px;
  padding: 25px;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.1) 0 4px 12px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  height: 60px;
  margin: 12px 0;
  background: #fff;
}
.wrapperWA-header {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  justify-content: center;
  position: relative;
}
.wrapperWA-header h2 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 3px;
  color: #332902;
  font-size: 1rem;
  flex: 1 1 auto;
  margin: 0;
}
.wrapperWA-header .closeWA svg {
  width: 20px;
  height: 20px;
  float: right;
}
.form-container .formC:nth-child(1) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(45%, 1fr));
  gap: 1rem;
  --gap: 1rem;
}
.form-container .formC:nth-child(2) {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
}
.form-container .formC .Fcontrol {
  position: relative;
}
.form-container .formC .Fcontrol input:focus,
.form-container .formC .Fcontrol textarea:focus {
  border-color: #4caf50;
}
.Fcontrol input[type="text"],
.Fcontrol input[type="email"],
.Fcontrol .cSubject,
.Fcontrol textarea {
  width: 100%;
  height: calc(3.5rem + calc(1px * 2));
  padding: 0.375rem 2.25rem 0.375rem 0.75rem;
  padding-top: 1.625rem;
  border-radius: 5px;
  margin-bottom: 15px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  background: #fff;
}
.Fcontrol textarea {
  height: 100px;
}
.Fcontrol input:focus ~ .nameC,
.Fcontrol input:focus ~ .emailC,
.Fcontrol textarea:focus ~ .messageC {
  top: -5px;
}
.Fcontrol input[type="text"],
.Fcontrol input[type="email"],
.Fcontrol textarea {
  padding: 0.75rem;
  padding-top: 1.625rem;
}
.Fcontrol .nameC,
.Fcontrol .emailC,
.Fcontrol .subjectC,
.Fcontrol .messageC {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  height: auto;
  padding: 1rem 0.75rem;
  transform: scale(0.85) translateY(-0.5rem) translateX(0.15rem);
  transform-origin: 0 0;
  overflow: hidden;
  text-overflow: ellipsis;
  pointer-events: none;
  white-space: nowrap;
  color: rgba(33, 37, 41, 0.65);
  transition: 0.1s ease;
}
.formC .Fcontrol .cSubject {
  display: block;
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='%23343a40' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='m2 5 6 6 6-6'/%3e%3c/svg%3e")
    no-repeat right 0.75rem center/16px 12px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
.valid[data-text]:before {
  position: absolute;
  bottom: 100%;
  left: 12px;
  content: "";
  border: 8px solid;
  border-color: transparent transparent #ffd91a transparent;
  top: calc(100% - 21px);
}
.valid[data-text]:after,
.valid[data-text]:before {
  opacity: 1;
  transition: opacity 0.2s ease;
  pointer-events: none;
  z-index: 3;
}
.valid[data-text]:after {
  content: attr(data-text);
  position: absolute;
  background: #ffd91a;
  left: 0;
  top: calc(100% - 5px);
  font-size: 12px;
  padding: 5px;
  box-shadow: 0 5px 10px rgb(0 0 0 / 8%);
  border-radius: 5px;
}
.show#cName ~ .valid:after,
.show#cEmail ~ .valid:after,
.show#cMessage ~ .valid:after,
.show#cName ~ .valid[data-text]:before,
.show#cEmail ~ .valid[data-text]:before,
.show#cMessage ~ .valid[data-text]:before {
  opacity: 0;
}
.none#cName ~ .valid:after,
.none#cEmail ~ .valid:after,
.none#cMessage ~ .valid:after,
.none#cName ~ .valid[data-text]:before,
.none#cEmail ~ .valid[data-text]:before,
.none#cMessage ~ .valid[data-text]:before {
  opacity: 1;
}
.whatsapp-send {
  display: inline-flex;
  align-items: center;
  gap: 0.3rem;
  padding: 10px 20px;
  background-color: #4caf50;
  color: #fff;
  text-decoration: none;
  font-weight: bold;
  font-size: 12px;
  border-radius: 4px;
  transition: background-color 0.3s;
  cursor: default;
  height: auto;
  width: auto;
}
.whatsapp-send svg {
  fill: #fff;
  width: 22px;
  height: 22px;
}
.whatsapp-send:hover {
  background-color: #45a049;
}
.whatsapp-float {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: -0.4rem;
  margin-bottom:-550px;
  margin-top:118px;
  margin-left:-2580px;
}
 /* mobil için özel genişlik verildi */
 @media (max-width: 600px) {
    .whatsapp-float{
    margin-left:-595px;
    }
  }
.whatsapp-float .whatsapp-icon {
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background-color: #4caf50;
  display: flex;
  justify-content: center;
  align-items: center;
  animation-name: waAnimation;
  animation-duration: 1.5s;
  animation-timing-function: ease-out;
  animation-iteration-count: infinite;
}
@keyframes waAnimation {
  0% {
    box-shadow: 0 0 0 0 rgba(74, 175, 80, 0.5);
  }
  80% {
    box-shadow: 0 0 0 14px rgba(74, 175, 80, 0);
  }
}
.whatsapp-float .whatsapp-icon svg {
  fill: #fff;
  width: 50px;
  height: 50px;
}
/* Remove IE arrow */
select:focus {
  outline: none;
}
select::-ms-expand {
  display: none;
}
@media screen and (max-width: 620px) {
  .formC:nth-child(1) {
    gap: 0;
  }
  .nav-whatsapp.active .wrapperWA {
    width: auto;
    height: auto;
    right: 0;
    left: 0;
    bottom: 0;
    top: auto;
    margin: 0;
    transition: all 0.3s ease;
  }
  .form-container .formC:nth-child(1) {
    grid-template-columns: auto;
    gap: 0;
  }
} 
 .menu {
   margin-top:70px !important;
   margin-right:-5px !important;
    
 }
 
  /* Mobilde daha küçük bir genişlik */
  @media (max-width: 600px) {
    .ara-input {
      max-width:65%;

    }
  }

  .poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
 font-style: normal; 
}
.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 500;
 font-style: normal; 
 font-size:15px;
}

  body,html {
    overflow-x: hidden;
}

  .bg-pink {
        background-color: #cf3180;
        text-align: center;
    }
.text-pink {
        color: #cf3180;
        text-align: center;
    }
    .text-lila {
        color: #670098;
        text-align: left !important;
      font-size:25px;
      margin-bottom:10px;
    }
    .text-price-detail {
        color: #670098;
        text-align: left !important;
      font-size:40px !important;
      margin-bottom:10px;
    }

.bg-lila {
        background-color: #670098;
        text-align: center;
    }
  .master {
   margin-top:-35px !important;
   margin-right:-5px !important;
    
 }
